header {
    font-family: 'Satisfy', cursive;
    
}
.headerText{
    width: 200px;
    left:0;
    top:0;
}
.headerText h1{
    font-size: 50px;
    color: blue;
    margin: 0 0 0 0;
}
.headerText p{
    margin: 0 0 0 0;
}

.headerButtons{
    position: absolute;
    width: 200px;
    display: flex;
    justify-content: space-between;
    top: 10px;
    right: 10px;
}
.top-btn {
    font-size: 20px;
    padding: 4%;
    border: white;
    background-color: blue;
    color: white;
    font-family: sans-serif;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

@media(max-width:500px){
    .headerButtons{
        width: 100px;
    }
    .top-btn{
        font-size: 15px;
        margin-right: 2px;
    }

}