/*background image*/
body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*css for the buttons on the center of the page create post and all posts*/
.postButtons{
    position: fixed; 
    top: 50%;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
}

.postButtons button{
    background-color: yellow;
    padding:1%;
    font-size:20px;
    font-weight: bolder;
    margin-right: 10px;;
}

/*CSS properties for modal*/
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    
}

.modal-content{
    background-color: white;
    margin: 15% auto;
    padding: 1%;
    border: 1px solid white;
    width: 30%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5); /*Added Shadow to modal box just for visual appeal.*/
}

/*Close button CSS code*/
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
/*makes the close button black from grey on hover and changes cursor to pointer*/
.close:hover,
.close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h1 {
    text-align: center;                     /*Heading of the modal at the centre of modal*/
    font-family: 'Satisfy', cursive;        /*Changed the font of heading of modals to satify cursive just for visual appeal.*/
}

/*CSS for form and input fields in the modal*/
label {
    font-size: 20px;
    font-weight: bolder;
    font-family: sans-serif;
    margin-top: 20px;
}

textarea{
    background-color: rgba(170, 170, 170, 0.5);
}

input {
    font-size: 20px;
    padding: 10px 0;
    background-color: rgba(170, 170, 170, 0.5);
    border : 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.formParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*CSS for button inside modal.*/
.signbutton {
    padding: 2%;
    font-size: 20px;
    background-color: green;
    color: white;
    margin-top: 20px;
    font-family: 'Satisfy', cursive;

}

/*CSS for the signup anchor tag in the sign in modal.*/
a{
    color:blue;
}
a:hover{
    cursor: pointer;
}

/*CSS for the text below sign in button*/
form p{
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
}

/*Increases modal width when window width decreases. Just for visual appearance*/
@media (max-width: 1000px) {

    .modal-content{
        width: 80%;
    }
    .form{
        width: 80%;
    }

}





